@charset "utf-8";

$breakpoint: (
  "sp": "screen and (min-width: 320px)",
  "tablet": "screen and (min-width: 768px)",
  "pc": "screen and (min-width: 1000px)",
);

.new-list {
  width: 300px;
  margin: 0 auto;
  padding-top: 50px;
}

.new-list-form {
  color: #555555;
}

.new-list-title {
  width: 300px;
  height: 30px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: #242f9b;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

@media #{ map-get($breakpoint, sp) } {
  h2 {
    font-size: 20px;
  }
  label {
    font-size: 15px;
  }
}
